NODE_ENV="development"

DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/DATABASE"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="database"
DATABASE_HOST="localhost"
DATABASE_PORT="3306"
